<div class="card" style="width: 18rem;">  
  <div class="card-body">
    <h5 class="card-title">Motivation</h5>
    <p class="card-text">It's hard to remember so many accounts and their login credentials. I decided to learn emberjs and create a tool in the process.</p>
    <a href="/signin" class="btn btn-primary">Sign In</a>
  </div>
</div>
